<form action="" id="contestForm" novalidate>
    <div class="grid-col grid-col_2of3Alt">
        <div class="box box_pTopHugeAtMed mix-box_tCenterAtXsm box_sSmAtXsm">
            <div class="box-hd">
                <h3 class="hdg hdg_h2 mix-hdg_tCaps mix-hdg_tShadow">
                    {{{formTitle}}}
                </h3>
            </div>

            <div class="box-meta">
                <div class="txtWrapper txtWrapper_p2">
                        <p>
                            {{formBody}} <a href="https://www.liquidplumr.com/wp-content/uploads/2014/10/Liquid_Plumr_Plumr_Pairs_Instant_Win_Game_Official_Rules_Oct14.pdf" target="_blank" class="txt-link">Official Rules</a>.
                        </p>
                </div>
            </div>

            <div class="box-bd box-bd_pTopMed">
                <div class="form">
                    <div class="form-row form-row_showAtMed mix-form-row_input">
                        <div class="inputText">
                            <span class="inputText-label inputText-label_sm">
                                <span class="inputText-label-required">*</span>
                                Indicates field is required

                            </span>
                        </div>
                    </div><!-- Form Row - end -->

                    <div class="form-row mix-form-row_input">
                        <div class="grid">
                            <div class="grid-col grid-col_6of12">
                                <div class="inputText">
                                    <label class="inputText-label" for="first-name">
                                        First Name
                                        <span class="inputText-label-required">*</span>
                                    </label>
                                    <input type="text" size="50" name="firstName" id="first-name" class="inputText-item" />
                                </div>
                            </div>

                            <div class="grid-col grid-col_6of12">
                                <div class="inputText inputText_pTopSmAtXsm">
                                    <label class="inputText-label" for="last-name">
                                        Last Name
                                        <span class="inputText-label-required">*</span>
                                    </label>
                                    <input type="text" size="50" name="lastName" id="last-name" class="inputText-item" />
                                </div>
                            </div>
                        </div><!-- Grid - end -->
                    </div><!-- Form Row - end -->

                    <div class="form-row mix-form-row_input">
                        <div class="grid">
                            <div class="grid-col grid-col_6of12">
                                <div class="inputText">
                                    <label class="inputText-label" for="email">
                                        Email Address
                                        <span class="inputText-label-required">*</span>
                                    </label>
                                    <input type="text" name="emailAddress" id="email" class="inputText-item" />
                                </div>
                            </div>

                            <div class="grid-col grid-col_6of12">
                                <div class="inputText inputText_pTopSmAtXsm">
                                    <label class="inputText-label" for="email-confirm">
                                        Confirm Email Address
                                        <span class="inputText-label-required">*</span>
                                    </label>
                                    <input type="text" name="emailAddressConfirm" id="email-confirm"  class="inputText-item" />
                                </div>
                            </div>
                        </div><!-- Grid - end -->
                    </div><!-- Form Row - end -->

                    <div class="form-row mix-form-row_input">
                        <div class="grid">
                            <div class="grid-col grid-col_6of12 grid-col_fRight">
                                <div class="form-row mix-form-row_input">
                                    <div class="inputCheckbox inputCheckbox_pRightLg">
                                        <label class="inputCheckbox-label" for="newsletter">
                                            <input type="checkbox" name="newsletter" id="newsletter" class="inputCheckbox-item" />

                                            Yes, I would like to receive the Liquid-Plumr&reg;
                                            Unclogger, an email newsletter with special updates, tips and offers.
                                        </label>
                                    </div>
                                </div><!-- Form Row - end -->

                                <div class="form-row mix-form-row_input">
                                    <div class="inputCheckbox inputCheckbox_pRightLg">
                                        <label class="inputCheckbox-label" for="agree">
                                            <input type="checkbox" name="termsAgreement" id="agree" class="inputCheckbox-item" />

                                            I have read and agree to the <a href="https://www.liquidplumr.com/wp-content/uploads/2014/10/Liquid_Plumr_Plumr_Pairs_Instant_Win_Game_Official_Rules_Oct14.pdf" target="_blank">Official Rules</a> and
                                            <a href="https://www.thecloroxcompany.com/legal/terms/en-us/" target="_blank>">Terms of Use</a>
                                            and have reviewed the
                                            <a href="https://www.thecloroxcompany.com/legal/privacy/en-us/" target="_blank>">Privacy Statement</a>.
                                            <span class="inputCheckbox-label-required">*</span>
                                        </label>
                                    </div>
                                </div><!-- Form Row - end -->
                            </div>

                            <div class="grid-col grid-col_6of12">
                                <!-- @todo - ask about captcha -->
                                <div class="captcha ">

                                    <div id="recaptcha_widget" style="display:none">
                                        <div id="recaptcha_image"></div>
                                        <div class="recaptcha_only_if_incorrect_sol">Incorrect, please try again</div>
                                        <div class="responseField">
                                            <div class="responseField-label"> <span class="recaptcha_only_if_image">Enter the characters above:</span> <span class="recaptcha_only_if_audio">Type what you hear:</span> </div>
                                            <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                                        </div>
                                        <div class="responseActions">
                                            <div><a class="responseActions-btn responseActions-btn_reload" href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
                                            <div class="recaptcha_only_if_image"><a class="responseActions-btn responseActions-btn_audio" href="javascript:Recaptcha.switch_type(&#39;audio&#39;)">Get an audio
                                                CAPTCHA</a></div>
                                            <div class="recaptcha_only_if_audio"><a class="responseActions-btn responseActions-btn_image" href="javascript:Recaptcha.switch_type(&#39;image&#39;)">Get an image
                                                CAPTCHA</a></div>
                                            <div><a class="responseActions-btn responseActions-btn_help" href="javascript:Recaptcha.showhelp()">Help</a></div>
                                        </div>
                                        <script type="text/javascript"
                                                src="https://www.google.com/recaptcha/api/challenge?k={{recaptchaKey}}"></script>
                                        <noscript>
                                            <iframe src="https://www.google.com/recaptcha/api/noscript?k={{recaptchaKey}}"
                                                    height="129" width="237" frameborder="0"></iframe>
                                            <br>
                                            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                                            </textarea>
                                            <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
                                        </noscript>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Grid - end -->
                    </div><!-- Form Row - end -->

                    <div class="form-row mix-form-row_submit mix-form-row_tRightAtMed">
                        <button class="btn btn_med">
                            <span class="btn-hd">{{formButtonCopy}}</span>
                        </button>
                    </div><!-- Form Row - end -->
                </div><!-- Form - end -->
            </div><!-- Box Body - end -->
        </div><!-- Box - end -->
    </div><!-- Grid Column - end -->
</form>